ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;  
    text-align: center;
    background-color: black;
    

}

li{
    display: inline;
    font-size: large;
    padding-right: 100px;
    
    
    
}
a:link, a:visited{
    background-color: aqua;
    color: blue;
    padding: -15px 30px;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
div{
    background-color: aqua;
}

